<% provide(:title, 'All users') %>

<div class="container">
  <div class="row">
  <h1>All members of <%= current_user.venue.name %></h1>
  <%= will_paginate %>
  <ul class="users">
    <% @venue_users.each do |venue_user| %>
      <li>
        <%= link_to venue_user.user.fullname, planned_events_venue_user_path(venue_user) %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>

  
  <% if current_user.admin?  %>
      <br/>
       <%= link_to "New member", new_venue_user_path, class: "btn btn-primary" %>
  <% end %>
  </div>
</div>