<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<ul class="users">
  <% @venue_users.each do |venue_user| %>
    <li>
      <% if venue_user.user.activated? %>
        <%= link_to venue_user.user.fullname, venue_user %>
      <% else %>
        <%= venue_user.user.fullname %> not active yet
      <% end %>

      <% if current_user.admin? && !current_user?(venue_user.user) %>
        | <%= link_to "delete", venue_user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>

    </li>
  <% end %>
</ul>
<%= will_paginate %>

<%= link_to "New user", new_venue_user_path, class: "btn btn-primary" %>
