<% provide(:title, 'Invite') %>
<h1>New Member</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: venue_users_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Add member", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>