<% @venue_user ||= current_user %>
  <h3>Event feed
    <span class="btn-group align-right" role="group">
      <%= btn_link_active "planned", planned_events_venue_user_path(@venue_user) %>
      <%= btn_link_active "archived", archived_events_venue_user_path(@venue_user) %>
    </span>
  </h3>
  <% if @events.any? %>
    <p><%= page_entries_info @events, model: "event" %></p>
    <ol class="events">
      <%= render @events %>
    </ol>
    <%= will_paginate @events %>
  <% else %>
    <p>no events scheduled.</p>
    <% if (@venue_user==current_user) %>
      <p>You can book a space in the shedule by clicking on the desired time slot..</p>
      <%= link_to "book now!",schedule_path("day"), class: "btn btn-primary" %>
    <% end %>
  <% end %>