<li id="event-<%= event.id %>">
  
  <span class="title"><%= event.event_name %></span>
  <span class="content">
    <% if (event.space_entries.length == 1) %>
        <% space_entry = event.space_entries.first %>
        <%= link_to formatted_time(space_entry.start_time), on_schedule_path('day', space_entry.start_time.to_i) %>

        (<%= event.space_entries.first.duration  %> minuten)
    <% end %>

  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>


</li>