<% provide(:title, 'Update event') %>

<h1><%= "Update #{@event.event_type}" %></h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>

     <!--
    <div class="btn-group form-group" data-toggle="buttons">
      <label class="btn btn-default">
        <%= f.label :appointment %>
        <%= f.radio_button(:event_type, :appointment, autocomplete: 'off') %>
      </label>
      <label class="btn btn-default">
        <%= f.label :workshop %>
        <%= f.radio_button(:event_type, :workshop, autocomplete: 'off') %>
      </label>
      <label class="btn btn-default">
        <%= f.label :training %>
        <%= f.radio_button(:event_type, :training, autocomplete: 'off') %>
      </label>

      <% if current_user.admin? %>
        <label class="btn btn-default">
          <%= f.label :unavailable %>
          <%= f.radio_button(:event_type, :unavailable, autocomplete: 'off') %>
        </label>
      <% end %>  
    </div>
      <script type="text/javascript">
        $(function () {
          $('input:radio').each(function() {
            this.checked = (this.value=='<%= @event.event_type %>');
            if (this.checked)
              $(this.parentNode).addClass('active');
          });
        });
    </script>
    -->

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :event_name, class: 'form-control' %>
    </div>

    <%= f.submit "Update", class: "btn btn-primary" %>

    <% end %>        

  </div>
</div>

<%= link_to "back to #{@event.event_type}", schedule_event_path('day',@event) %>
