<% provide(:title, @event.event_name) %>

<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= @event.event_name %>
          <div class="btn-group pull-right">
            <% if current_user.admin? || current_venue_user_id?(@event.venue_user_id) %>
              <!--<%= link_to "copy", '#', class:"btn btn-default" %> -->
              <%= link_to "edit", edit_event_path(@event), class:"btn btn-default" %>
              <%= link_to "delete", schedule_event_path(@schedule,@event), method: :delete, class:"btn btn-default", data: {confirm:  "You sure to delete this #{@event.event_type}" } %>
            <% end %>
          </div>
        </h3>
        <div class="clearfix"></div>

  
      </div>    
      <div class="panel-body">
          <%= @event.event_type %> by
          <%= link_to @event.venue_user.user.fullname, planned_events_venue_user_path( @event.venue_user) %>
      </div>
      <table class="table table-responsive">
      <tbody>
        <% @event.space_entries.includes(:space).each do |space_entry| %>
          <tr>
            <td><%= link_to formatted_period(space_entry.start_time, space_entry.end_time), on_schedule_path('day', space_entry.start_time.to_i) %>
              - <%= space_entry.space.name %>
            </td>
            <% if (@event.space_entries.length > 1) %>

              <td><%= link_to 'Edit', edit_schedule_space_entry_path('day',space_entry) %></td>
              <td><%= link_to 'Destroy', space_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
      </table>
      <% if ["training", "unavailable"].include?(@event.event_type) && (current_user.admin? || current_venue_user_id?(@event.venue_user_id))%>
      <div class="panel-body">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <%= link_to "add", new_event_space_entry_path(@event), class:"btn btn-default"  %>  
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>lesson</span>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "one week", new_event_space_entry_path(@event, repeat: "7days") %>
              </li>
              <li>
                <%= link_to "two weeks", new_event_space_entry_path(@event, repeat: "14days") %>
              </li>
              <li>
                <%= link_to "one month", new_event_space_entry_path(@event,repeat: "1month") %>
              </li>
              <li>
                <%= link_to "each week", new_event_frequency_path(@event,repeat: "eachweek") %>
              </li>
            </ul>
          </div>          
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>space</span>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <% current_user.venue.spaces.each do |space| %>
                <li>
                  <%= link_to space.name, new_event_space_entry_path(@event, space_id: space.id) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
   <%= link_to "back to schedule", on_schedule_path(@schedule, @event.space_entries.first.start_time.to_i) %>
  </aside>
</div>

